# Основной бэкенд
VITE_BACKEND_URL=http://localhost:8000
VITE_SOCKET_URL=ws://localhost:8000

# Сторонний бэкенд с дополнительной инфой
VITE_EXTERNAL_API_URL=https://n8n.int.company.org/webhook/test
VITE_EXTERNAL_SOCKET_URL=wss://api.sales.localhost.org
VITE_MONTHLY_REPORT_URL=https://n8n.int.company.org/webhook/monthly_report
VITE_MONEY_REPORT_URL=https://n8n.int.company.org/webhook/money_report

# Sentry
VITE_SENTRY_AUTH_TOKEN=XXXXXXXXX
VITE_SENTRY_DSN=XXXXXXXXX
VITE_SENTRY_PROJECT=XXXXXXXXX
VITE_SENTRY_ORGANIZATION=XXXXXXXXX

# Internal links
VITE_CONFLUENCE_URL=https://confluence.company.org
VITE_KP_GENERATOR_URL=https://kopeshka.sales.company.org
VITE_CRM_URL=https://company.amocrm.ru
VITE_CHATWOOT_URL=https://chatwoot.company.ru
VITE_INSIDE_URL=https://in.company.org